__pycache__/api_data.cpython-311.pyc
__pycache__/bearerCache.cpython-311.pyc
__pycache__/data_formatting.cpython-311.pyc
__pycache__/datapunkter.cpython-311.pyc
__pycache__/get_config.cpython-311.pyc
__pycache__/plot_data.cpython-311.pyc
__pycache__/xolta_get_auth.cpython-311.pyc
